version: '3.1'

services:
  asterisk:
    image: asterisk16centos7:26102023
    privileged: true
    volumes:
      - ${ODBC_INI_FILE}:/etc/odbc.ini
  mysql:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    privileged: true
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_HOST: 172.*.*.*
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: realtimedb
      MYSQL_USER: rt_user
      MYSQL_PASSWORD: 123

